.dhtmlwindow{
background-color: #E1E1E1;
position: absolute;
border: 10px solid darkgray;
visibility: hidden; 
}

.drag-handle{ /*CSS for Drag Handle*/
padding: 5px;
text-indent: 3px;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;font-weight:bold; 
font-weight:bold;
background-color:#fff;
color: #0052A4;
cursor: move;
overflow: hidden;
width: auto;
}
.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/
position: absolute;
right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;
}
.drag-contentarea{ /*CSS for Content Display Area div*/
border-top: 1px solid #0052A4;
background-color:#fff;
color: black;
height: 150px;
padding: 2px;
overflow: auto;
}
.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/
border-top: 1px solid gray;
background-color: #FFFFFF;
height: 13px; /*height of resize image*/
}
.drag-resizearea{ /*CSS for Resize Area itself*/
float: right;
width: 13px; /*width of resize image*/
height: 13px; /*height of resize image*/
cursor: nw-resize;
font-size: 0; 
}